* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

html,
body {
  height: 100%;
}

body {
  background: #13131A;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --color-main: #23232F;
  --font-main: "Golos-text";
  --transition: .2s;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1440px;
}

.main {
  flex: 1 1 auto;
}

@font-face {
  font-family: 'Golos-text';
  src: url('/assets/fonts/golos-text/GolosText-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Golos-text';
  src: url('/assets/fonts/golos-text/GolosText-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Golos-text';
  src: url('/assets/fonts/golos-text/GolosText-Regular.woff') format('woff');
  font-weight: 400;
}

.everething-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 13px;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.10);
}

.title {
  color: #FFF;
  font-family: var(--font-main);
  font-size: clamp(28px, 10vw, 54px);
  line-height: clamp(31px, 10vw, 57px);
  font-weight: 700;
  letter-spacing: -3.24px;
}

.sub-title {
  max-width: 484px;
  color: #FFF;
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.792px;
  text-align: center;
}

.card {
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(37, 39, 66, 0.08);
  background: #23232F;
  box-shadow: 0px 7px 24px 0px #171723;
}


/* header*/
.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -87px;
}

.header__link {
  display: inline-flex;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-nav-menu {
  display: flex;
  gap: 64px;
}

@media (max-width: 770px) {
  .header-nav-menu {
    display: none;
  }
}

.header-nav-menu__link {
  color: #FFF;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.16px;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4A03FC;
  padding: 13px 15px;
  color: #FFF;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  transform: var(--transition);
  cursor: pointer;
}

@media (max-width: 770px) {
  .header__button {
    display: none;
  }
}

.header-mobile-menu {
  display: none;
  align-items: center;
  gap: 16px;
}

@media (max-width: 770px) {
  .header-mobile-menu {
    display: flex;
  }
}

.header-mobile-menu__text {
  color: #FFF;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.16px;
}

.header-sandwich {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  background: #4A03FC;
  padding: 16px 13px;
}

.header-sandwich__item {
  height: 3px;
  width: 24px;
  background-color: #fff;
  border-radius: 5px;
}

/* header*/






/* marketing-agency */
.marketing-agency {
  position: relative;
  background: linear-gradient(180deg, #000 0%, #130D52 36.21%, #4A03FC 68.68%, #A8A1FF 86.54%);
}

.marketing-agency__title {
  max-width: clamp(203px, 55vw, 511px);
  text-align: center;
  text-transform: uppercase;
}

.marketing-agency__title,
.marketing-agency__sub-title,
.marketing-agency__button {
  font-family: var(--font-main);
  position: relative;
  z-index: 1;
  justify-self: center;
}

.marketing-agency__sub-title,
.marketing-agency__button {
  margin-top: 29px;
}

.marketing-agency__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.32px;
  border-radius: 10px;
  background: #FFF;
  cursor: pointer;
}

@media (max-width: 770px) {
  .marketing-agency__button {
    width: 263px;
  }
}

@media (max-width: 500px) {
  .marketing-agency__button {
    width: 100%;
  }
}

.marketing-agency__sub-title {
  max-width: 457px;
  text-align: center;
  color: #FFF;
  font-size: clamp(14px, 5vw, 22px);
  font-weight: 400;
  line-height: clamp(20px, 6vw, 31px);
  letter-spacing: -0.792px;
}

@keyframes moon {
  0% {
    bottom: -10px;
  }

  50% {
    bottom: -40px;
  }

  100% {
    bottom: -10px;
  }
}

@media (max-width: 770px) {

  @keyframes moon {
    0% {
      bottom: -10px;
    }

    50% {
      bottom: -25px;
    }

    100% {
      bottom: -10px;
    }
  }
}

.marketing-agency__img {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 208px;
  animation: moon 4s infinite;
}

.container-marketing-agency {
  display: grid;
  padding-top: clamp(136px, 20vw, 216px);
  padding-bottom: 135px;
}

@media (max-width: 770px) {
  .container-marketing-agency {
    padding-bottom: 80px;
  }
}

/* marketing-agency */





/* technical-partners */
.technical-partners {
  margin-top: 45px;
}

.technical-partners__title {
  justify-self: center;
  color: #FFF;
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
}

.technical-partners-images {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  gap: 32px;
  margin-top: 12px;
}

.container-technical-partners {
  display: grid;
}

/* technical-partners */





/* can-help-you */
.container-can-help-you {
  padding-bottom: 160px;
  display: grid;
}

@media (max-width: 500px) {
  .container-can-help-you {
    padding-bottom: 92px;
  }
}

.can-help-you__button {
  display: flex;
  margin-top: 92px;
}

.can-help-you__title {
  margin-top: 25px;
}

.can-help-you__button,
.can-help-you__title,
.can-help-you__sub-title {
  text-align: center;
  justify-self: center;
}

.can-help-you__sub-title {
  margin-top: 20px;
}

.can-help-you-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
}

@media (max-width: 770px) {
  .can-help-you-list {
    grid-template-columns: 1fr;
  }
}

.can-help-you-list__card:nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  height: 100%;
}

@media (max-width: 770px) {
  .can-help-you-list__card:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

.can-help-you-list__card:nth-child(3) {
  grid-row: 2 / span 2;
}

@media (max-width: 770px) {
  .can-help-you-list__card:nth-child(3) {
    grid-row: initial;
  }
}

.can-help-you-list__card:last-child {
  height: 244px;
}

.can-help-you-list__card {
  height: 350px;
}


@media (max-width: 770px) {

  .can-help-you-list__card,
  .can-help-you-list__card:nth-child(2),
  .can-help-you-list__card:nth-child(3) {
    height: 244px;
  }
}

.can-help-you-list__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -1.04px;
}

.can-help-you-list__title,
.can-help-you-list__sub-title {
  color: #FFF;
  font-family: var(--font-main);
}

.can-help-you-list__sub-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.16px;
}

/* can-help-you */





/* how-we-works */
.container-how-we-works {
  display: grid;
  padding-bottom: 160px;
}

.how-we-works__button {
  margin-top: 92px;
}

.how-we-works__button,
.how-we-works__title {
  justify-self: center;
}


.how-we-works__title {
  margin-top: 25px;
}

.how-we-works__sub-title {
  margin-top: 20px;
}

.how-we-works-list-wrapper {
  overflow: auto;
}

.how-we-works-list-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.30);
  border-radius: 8px;
}

.how-we-works-list-wrapper::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

.how-we-works-list-wrapper::-webkit-scrollbar-track {
  background-color: #3D4050;
  border-radius: 8px;
}



.how-we-works-list {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.how-we-works-list__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 486px;
}

@media (max-width: 500px) {
  .how-we-works-list__card {
    min-width: 416px;
  }
}

.how-we-works-list__img {
  width: 100%;
}

.how-we-works-list__title {
  margin-top: 30px;
  color: #FFF;
  text-align: center;
  font-family: var(--font-main);
  font-size: 26px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1.04px;
}

.how-we-works-list__sub-title {
  margin-top: 15px;
  color: #FFF;
  text-align: center;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.16px;
}

/* how-we-works */





/* how-we-works */
.projects {
  display: grid;
}

.projects__button {
  margin-top: 92px;
}

.projects__title,
.projects__sub-title {
  margin-top: 20px;
}

.projects__button,
.projects__title,
.projects__sub-title {
  justify-self: center;
}


.projects-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
  padding-bottom: 160px;
}

@media (max-width: 850px) {
  .projects-list {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }
}

.projects-list__card:nth-child(2) {
  grid-row: 1 / span 2;
}

.projects-list__card:nth-child(4) {
  grid-row: 2 / span 2;
}

.projects-list__card:nth-child(2),
.projects-list__card:nth-child(4) {
  grid-column: 2;
  align-self: center;
}

@media (max-width: 850px) {

  .projects-list__card:nth-child(2),
  .projects-list__card:nth-child(4) {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (max-width: 850px) {
  .projects-list__card {
    padding: 40px 20px;
  }
}

.projects-list__button {
  margin-top: 161px;
}

@media (max-width: 850px) {
  .projects-list__button {
    margin-top: 92px;
  }
}


.projects-list__title {
  color: #FFF;
  font-family: var(--color-main);
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1.04px;
}

.projects-list__title,
.projects-list__paragraph {
  max-width: 270px;
  color: #FFF;
  margin-top: 30px;
  font-family: var(--color-main);
}

.projects-list__img {
  max-width: 290px;
  width: 100%;
}

/* how-we-works */


/* footer */

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.20);
  padding: 20px 40px;
}

@media (max-width: 600px) {
  .container-footer {
    justify-content: center;
  }
}


.footer__text {
  color: #808080;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.footer-social-media {
  display: flex;
  align-items: center;
  gap: 25px;
}

@media (max-width: 600px) {
  .footer-social-media {
    display: none;
  }
}

/* footer */

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background-color: #0E0D0D;
}

.modal__content {
  display: grid;
  grid-template-areas:
    'close link'
    'form social-media'
  ;
  gap: 20px;
  height: 100%;
  position: relative;
  padding: 33px 32px 68px 32px;
  max-width: 1440px;
}

.modal__close {
  grid-area: close;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}

.modal__link {
  grid-area: link;
  justify-self: end;
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 21px;
  color: #232020;
  font-family: var(--color-main);
  font-size: 23.2px;
  line-height: 27px;
  font-weight: 500;
  letter-spacing: -0.464px;
  border-radius: 14.5px;
  background-color: #FFF;
}

.modal-social-media-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: social-media;
  justify-self: end;
  align-self: end;
}

.modal-social-media-wrapper__link {
  color: #FFF;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 500;
  line-height: 140.1%;
  letter-spacing: 0.54px;
  margin-top: 26px;
}

.modal-social-media-wrapper__link:last-child {
  margin-top: 17px;
}

.modal-social-media {
  display: flex;
  gap: 10px;
}


.feedback-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-self: end;
  gap: 39px;
  max-width: 910px;
}

.feedback-form__title {
  margin-top: 39px;
}

.feedback-form__input {
  border-bottom: 2px solid #33374A;
  padding: 10px 0 16px 0;
}

.feedback-form__input::placeholder,
.feedback-form__input,
.feedback-form__title {
  color: #FFF;
  font-family: var(--font-main);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.64px;
}

.feedback-form__input {
  background-color: transparent;
}

.budget {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 22px;
}

.budget__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 43px;
  color: #33374A;
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.48px;
  border-radius: 999px;
  border: 1px solid #33374A;
}

.budget__text.active {
  background: #3E435F;
  color: #fff;
}

.feedback-form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
  border-radius: 16px;
  background: #4A03FC;
  width: 100%;
  height: 96px;
  padding: 10px 15px;
  color: #FFF;
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  cursor: pointer;
}